body {
	font-family: sans-serif, Arial;
	background-color: #124191;
}
html, body, #root, .Dashboard {
  height: 100%
}
.middle-content {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.box {
	text-align: center;
	width: 400px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}
.title {
	text-transform: uppercase;
	color: #124191
}
.logo {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #f2f2f2;
}
.input {
	display: block;
	width: 80%;
	margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    border-color: rgb(183 181 181 / 40%);
    background-color: rgba(255,255,255,0.4);
    height: 32px;
    padding: 6px 10px;
    border-width: 1px;
    outline: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 0;
	text-align: center;
}
.btn {
	cursor: pointer;
    min-width: 85%;
    font-size: 14px;
    padding: 10px 12px 10px 12px;
    position: relative;
    max-width: 100%;
    text-align: center;
    color: #fff;
    background-color: #005da6;
    text-transform: uppercase;
    border-color: transparent;
}
.btn:hover, .big-btn:hover {
	opacity: 0.8;
}
.big-btn {
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 80%;
    height: 62px;
    background-color: #124191;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
	margin-bottom: 20px;
}
.btn-green {
	background-color: #3db926!important;
}
.btn-red {
	background-color: #b32c2c!important;
}
.space-options-reg {
	padding-top: 30px
}
.space-options {
	padding-top: 60px
}
.bottom-text {
	padding-top: 25px;
	margin-top: 50px;
	background-color: #f2f2f2;
	height: 50px;
}
a {
	color: #005da6;
	text-decoration: none;
}
.alert {
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 35px;
    padding-top: 15px;
    color: white;
}
.alert-0 {
    background: #c71a1a;
}
.alert-1 {
    background: #0b9423;
}

/* DashBoard */
.Dashboard .outer-container {
	display: table;
	width: 100%;
	height: 100%;
}
.Dashboard .outer-container .sidebar-left {
	background-color: #124191;
	width: 280px;
	display: table-cell;
	width: 15%;
	vertical-align: top;
}
.Dashboard .outer-container .content {
	background-color: #f2f7fb;
	display: table-cell;
	width: 85%;
	vertical-align: top;
}
.Dashboard .header {
	background: #fff;
	min-height: 70px;
	padding: 0;
	-webkit-box-shadow: 0 2px 4px 0 rgb(43 43 43 / 10%);
    box-shadow: 0 2px 4px 0 rgb(43 43 43 / 10%);
}
.Dashboard .sub-page {
	margin: 35px;
}
.Dashboard .box-mod {
	background-color: #fff;
	border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
    box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
	position: relative;
	/*display: flex;*/
}

.Dashboard .box-mod h3 {
    text-align: center;
    border-bottom: 1px solid #d6d6d6a8;
    margin-top: 10px;
    padding-bottom: 10px;
}

.Dashboard .box-mod graphContainer {
    padding: 15px
}

.Dashboard .logo-dash {
	padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-bottom: 1px solid #214aa5;
    font-size: 20px;
    text-align: center;
}
.Dashboard ul.menu {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.Dashboard ul.menu > li {
	display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}
.Dashboard ul.menu > li a {
    display: block;
    font-size: 16px;
    text-align: left;
    padding: 7px 10px 7px 20px;
    margin: 5px 0 0;
    border-radius: 0;
    border-left: 3px solid transparent;
    color: #fff;
}
.Dashboard .header .user-info {
    float: right;
    padding: 25px;
}
.Dashboard .btn-small {
    background-color: #c91515;
    opacity: 0.6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 0 2px;
    cursor: pointer;
    padding: 6px 24px;
}

.Dashboard .btn-small-on {
    background-color: #2462ca;
    opacity: 1;
}

.Dashboard .btn-small-info {
    background-color: #2462ca;
}

.Dashboard .actions {
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: 59% 40%;
    grid-gap: 10px;
}

.actions-container {
    display: grid;
    grid-template-columns: 15% 15% 25% 45%;
    grid-gap: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.react-datepicker-wrapper input {
    padding-left: 10px;
    height: 25px;
    border-radius: 0;
    border: 1px solid black;
}

.calendar-icon {
    display: inline-block;
    margin-left: -20px;
    position: absolute;
    margin-top: 6px;
}
.react-datepicker__tab-loop {
    display: inline-block;
}
.Dashboard .box-mod-actions {
	background-color: #fff;
	border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
    box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
	position: relative;
	/*display: flex;*/
}

.Dashboard .box-mod-actions h3 {
    text-align: left;
    border-bottom: 1px solid #d6d6d6a8;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    padding-left: 20px;
}
.big-table {
    padding: 0 25px 1px 25px;
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #124191;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #124191;
}

.data-table h3 {
    padding-top: 10px;
}

.big-graph h3 {
    padding-top: 10px;
}